<%- include("partials/header"); -%>


  <h1>Compose</h1>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label for="tittleField">Tittle</label>
      <input type="text" class="form-control" id="tittleField" name="postTittle">
      <p style="color: #d32e2e; display: <%= displayExisit %>">Tittle Already Exisit</p>
    </div>
    <div class="form-group">
      <label for="PostField">Post</label>
      <textarea class="form-control" id="postField" name="postBody" rows="5"></textarea>

    </div>
    <button  type="submit" class="btn btn-primary" name="Publish">Publish</button>
    <p style="color: #d32e2e; display: <%= displayEmpty %>">طب بالله عليك ينفع إلي إنتا عملته ده</p>
  </form>

<%- include("partials/footer"); -%>
